header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #855cd6;
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0 20px;
}

body {
  margin: 0;
  padding: 0;
  height: 5000px;
  font-family: Arial, sans-serif;
}

.header_list {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  padding: 10px;
  color: white;
  font-weight: 500;
  position: relative;
  right: 10%;
}

.header_list {
  text-decoration: none;
  color: white;
  margin-bottom: 9px;
  margin-top: 9px;
}

.header_list:hover {
  cursor: pointer;
  background-color: #6c4daa;
}

#icon_img {
  transition: transform 0.3s ease;
  width: auto;
  height: 50%;
}

#icon_img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
